html,body{
	left: 0;
	top:0;
	margin: 0;
	
    height: 99%;
	text-align:center;
	background-image:url(http://www.lalluvia.com/bHappy/imgs/fondo.jpg);
	background-color: #000000;
	background-repeat: no-repeat;
	
}
#map-canvas{
	display: none;
	height: 90%;
	
}

#por-que{
	display: none;
	text-align: right;
}

#por{
	border-width: 0px;
	width: 100%;
	height: 25%;
	font-size: 38px;
	font-family: cursive;	
	background-color: #0ce5ff;
}

.myButton{
	display: none;
	padding: 10px;
	font-family: cursive;
	font-size: 30px;
	font-style: bold;
	color: #0ce5ff;
	background-color: #fdfdfd;
	border:0px;
	width: 90px;
	height: 10%;
	margin: 2px;

}
#goButton{
	position: absolute;
	border-radius: 5px 35px 35px 5px;
	right: 0px;
	
}
#backButton{
	border-radius: 30px 5px 0px 35px;
}

#containerHappy{
	position:absolute;
	right: 30px;
	margin:10px;
	text-align:right;
	top:30px;
}
#containerUngry{
	position:absolute;
	right: 30px;
	bottom:30px;
	margin:10px;
	text-align:right;
}






